<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
  <application>
    <provider
      android:name="app.cindy.apkinstaller.ApkFileProvider"
      android:authorities="${applicationId}.apk-updates"
      android:exported="false"
      android:grantUriPermissions="true">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/cindy_apk_paths" />
    </provider>
  </application>
</manifest>
